.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  border-bottom: solid 1px rgba(169, 174, 172, 0.45);
  padding-left: 20px;
}

.image {
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 528px;
  margin: 0 192px 0 20px;
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  margin: 0 0 13px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 1.17px;
  color: #5f9e52;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volume {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #121112;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 103px;
  height: 38px;
  border-radius: 2.7px;
  border: solid 1px rgba(169, 174, 172, 0.55);
  background-color: #fff;
}

.increment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: inherit;
  font-size: 22px;
  color: #979797;
  cursor: pointer;
}

.decrement {
  padding-bottom: 15px;
}

.count {
  width: 46px;
  height: inherit;
  margin: 0;
  border-right: solid 1px rgba(169, 174, 172, 0.45);
  border-left: solid 1px rgba(169, 174, 172, 0.45);
  padding-top: 7px;
  background-color: rgba(169, 174, 172, 0.1);
  font-size: 21.6px;
  color: #121112;
  text-align: center;
  cursor: text;
}

.price {
  width: 145px;
  margin: 0 40px 0 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.24px;
  color: #121112;
  text-align: center;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  animation: rotating 4s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}