.container {
  width: 293px;
  margin: 67px 30px 30px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.categoriesListTitle {
  margin: 10px 0;
  font-size: inherit;
  color: #121112;
  font-weight: 500;
  line-height: normal;
}

.categoriesList {
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #979797;
  border-top: none;
}